.add-task-container {
  padding: 30px;
}

.task-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 15px;
}

.task-form input,
.task-form textarea,
.task-form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.task-form button {
  background-color: #2ecc71;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-form button:hover {
  background-color: #27ae60;
}
